<div id="main-content">
<div class=vert-space></div>
<h1>The Void</h1>
<hr>
<div class=vert-space></div>
<p>
  The internet is full of text boxes that promise to broadcast our feelings to
  everyone in our lives. In reality, algorithms leave us feeling like we are
  shouting into The Void. This website is different. It's upfront about The Void.
</p>
<p>
  Write a short message and Speaketh it to The Void. In return, The Void will
  echo someone else's message to you. Other than the message itself, The Void
  does not collect any information.  You will not know who gets your message,
  or whose message you received.
</p>
<div class=vert-space></div>
<app-text-input></app-text-input>
</div>
